.acm-voucher{
	display: flex;
	flex-direction: column;
	&-left{
		width:190px;
		.ant-card-body {
		    padding: 12px;
		    zoom: 1;
		}
		.ant-tree li ul{
		    padding: 0 0 0 18px;
		}
	}
	&-left-search{
		width:160px;
		margin: 10px 0;
	}
	.z-tree-leaf{
		margin-left: -18px;
	}
	.z-tree-leaf .ant-tree-title{

		color:#2db7f5;
	}
	.ant-tree-title {
	    display: block;
	    overflow: hidden;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
	.ant-tree li .ant-tree-node-content-wrapper {
		max-width: 130px;
	}
	.ant-tree li .ant-tree-node-content-wrapper:hover{
		background-color: #fff;
	}
}
